$dark: #0b2447;
$main: #19376d;
$light: #576cbc;
$lighter: #a5d7e8;

$dark-green: #5f7161;
$green: #6d8b74;
$grey: #d0c9c0;
$light-grey: #efead8;

$dark-purple: #2a2f4f;
$purple: #3c37ff;
$light-purple: #e5beec;
$lighter-purple: #fde2f3;

$main-blue: rgb(27, 145, 251);
