$dark: #0B2447;
$main: #19376D;
$light: #576CBC;
$lighter: #A5D7E8;

$dark-green: #5F7161;
$green: #6D8B74;
$grey: #D0C9C0;
$light-grey: #EFEAD8;

$dark-purple: #2A2F4F;
$purple: #917FB3;
$light-purple: #E5BEEC;
$lighter-purple: #FDE2F3;