@import "./Color.scss";

#confirmation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  backdrop-filter: blur(5px);

  #container {
    background-color: rgb(106, 108, 123);
    border-radius: 10px;
    width: 400px;
    height: 175px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #separator {
      width: 90%;
      height: 1px;
      background-color: grey;
    }

    h1 {
      font-size: 20px;
      text-align: center;
      color: black;
      user-select: none;
    }

    h2 {
      user-select: none;
      font-size: 11px;
      font-weight: 500;
    }

    #buttons {
      display: flex;
      justify-content: center;
      margin: 15px 0;
      gap: 1rem;

      button {
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 150ms;

        &:first-of-type {
          &:hover {
            background-color: rgb(230, 56, 56);
            color: white;
          }
        }

        &:last-of-type {
          &:hover {
            background-color: $main;
            color: white;
          }
        }
      }
    }
  }
}
