@import "../styles/Color.scss";

.loginApp {
  display: flex;
  flex-direction: column;
  #logo img {
    width: 300px;
    height: 240px;
    margin-bottom: 0;
  }

  #sign-in{
    text-decoration: none;
  }
input{
    height: 45px;
    width: 350px;
    margin: 15px auto;
    border-radius: 10px;
    border: solid $dark 2px;
    padding-left: 50px;
  }
  #email{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    span{
        transform: translate(30px, 25px);
        background-color: white;
        width: 50px;
        font-weight: 700;
        color: $dark;
    }
  }
  #password{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    span{
        transform: translate(30px, 10px);
        background-color: white;
        color: $dark;
        width: 80px;
        font-weight: 700;
    }
  }
  #agreements{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    font-weight: 800;
    input{
        margin: 0 15px 0 0 ;
        width: 15px;
        height: 15px;
    }
  }
  #buttons{
    display: flex;
    justify-content: center;
    #forgot-password-button{
        color: $dark;
        height: 35px;
        width: 150px;
        border-radius: 9px;
        margin-right: 15px;
        border: solid $dark 1px;
        transition: 750ms;
        &:hover{
            background-color: $main;
            color: white;
            border: solid $main 3px;
        }
    }
    #login-button{
        height: 35px;
        width: 150px;
        border-radius: 9px;
        background-color: $dark;
        margin-right: 15px;
        color: white;
        border: solid $dark 1px;
        transition: 750ms;
        &:hover{
            background-color: white;
            border: solid $dark 3px;
            color: $dark;
        }
    }
    button{
        font-size: 15px;
        font-weight: 700;
        height: 35px;
        width: 150px;
        border-radius: 9px;
    }
  }
  #social-login{
    width: 300px;
    display: flex;
    margin: 15px auto;
    #google{
        width: 100px;
        height: 40px;
        color: rgb(3, 119, 48)
    }
    #mail{
        width: 90px;
        height: 40px;
        color: rgb(184, 5, 5);
    }
    #fb{
        width: 90px;
        height: 40px;
        color: $dark;
    }
  }
}
