@import "../styles/Color.scss";
@import "../styles/Keyframes.scss";

.login-app {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #logo {
    height: 25%;
    width: 25%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  #logo img {
    width: 350px;
    height: 240px;
    margin-bottom: 0;
    transition: 750ms;

    &:hover {
      scale: 1.1;
    }
  }

  #sign-up-suggestion {
    z-index: 5;
    margin-top: 15px;
    display: flex;

    span {
      cursor: pointer;
      text-decoration: none;
      transition: all 250ms;
      margin-left: 0.25rem;
      font-weight: 600;

      &:hover {
        font-weight: 700;
      }
    }
  }

  #sign-in {
    text-decoration: none;
  }

  input {
    height: 45px;
    width: 75%;
    margin: 0;
    border-radius: 10px;
    border: solid $dark 2px;
    padding-left: 50px;
    margin-bottom: 1rem;
    transform: translateX(15px);
  }

  #email {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;

    span {
      transform: translate(30px, 10px);
      background-color: white;
      width: 50px;
      font-weight: 700;
      color: $dark;
      z-index: 1;
    }
  }

  #password {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;

    span {
      transform: translate(30px, 10px);
      background-color: white;
      color: $dark;
      width: 80px;
      font-weight: 700;
      z-index: 1;
    }
  }

  #agreements {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 10px;
    font-weight: 800;
    cursor: pointer;
    padding: 0;
    gap: 1.5rem;

    input {
      margin: 0;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }

    p {
      transition: all 500ms;
    }
  }

  #buttons {
    display: flex;
    gap: 1rem;
    margin: 15px 0;

    #forgot-password-button {
      color: $dark;
      border: solid $dark 1px;

      &:hover {
        background-color: $main;
        color: white;
        border: solid $main 3px;
      }
    }

    #login-button {
      background-color: $dark;
      color: white;
      border: solid $dark 1px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: white;
        border: solid $dark 3px;
        color: $dark;
      }
    }

    button {
      height: 35px;
      border-radius: 9px;
      font-size: 15px;
      font-weight: 700;
      border-radius: 9px;
      width: 175px;
      transition: 750ms;
    }
  }

  .error {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: red;
    height: 50px;
    opacity: 0;
    transition: opacity 250ms;
    margin: 3px 0;

    p {
      font-weight: 700;
      font-size: 0.75rem;
      border-radius: 5px;
      padding: 5px;
    }

    #icon {
      font-size: 2rem;
    }
  }

  #social-login {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px auto;

    p {
      margin: 0;
      padding-bottom: 1rem;
      font-size: 0.75rem;
      font-weight: 700;
      cursor: pointer;
      margin: 1rem;

      &:hover {
        font-weight: 800;
      }
    }

    #google {
      width: 100px;
      height: 40px;
      color: rgb(3, 119, 48);
      cursor: pointer;
      transition: transform 750ms;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}
