@import "../Styles/Color.scss";
@import "../Styles/Keyframes.scss";

#main-login {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  border-radius: 1rem;
  width: 70%;
  height: 95vh;
  box-shadow: 0 0 50px 5px $dark-purple;
  background-color: white;

  * {
    user-select: none;
  }

  p {
    margin: 0;
  }

  button {
    cursor: pointer;
  }

  #splash {
    width: 50%;
    background-color: $purple;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 100%;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    border-radius: 15px;
    position: relative;

    #chitchat {
      align-self: flex-start;
      margin: 10%;
      font-size: 30px;
      animation: slide-chitchat 650ms linear;

      #r-hseparator {
        width: 0;
        max-width: 175px;
        border: solid white 2px;
        animation: r-underline 2000ms 1000ms both infinite;
      }
    }

    #info {
      align-self: flex-end;
      margin: 10%;
      font-size: 30px;
      animation: slide-info 650ms linear;

      #r-hseparator {
        width: 0;
        border: solid white 2px;
        animation: r-underline 2500ms 650ms both infinite;
      }
    }

    #chat-friend {
      font-size: 1.5rem;
      text-align: start;
      margin: 1rem;

      span {
        color: rgb(251, 255, 0);
      }

      #r-hseparator {
        width: 0;
        max-width: 175px;
        border: solid white 2px;
        animation: r-underline 2000ms both infinite;
      }
    }

    #chat-family {
      font-size: 1.5rem;
      text-align: start;
      margin: 1rem;
      position: absolute;
      top: 15%;
      left: 25%;

      span {
        color: rgb(46, 213, 46);
      }

      #r-hseparator {
        width: 0;
        border: solid white 2px;
        animation: r-underline 2000ms 500ms both infinite;
      }
    }

    #way {
      font-size: 1.5rem;
      text-align: start;
      margin: 1rem;
      position: absolute;
      top: 30%;
      right: 0;

      span {
        color: rgb(238, 70, 70);
      }

      #r-hseparator {
        width: 0;
        max-width: 175px;
        border: solid white 2px;
        animation: r-underline 2000ms 1000ms both infinite;
      }
    }

    #express {
      font-size: 1.5rem;
      text-align: start;
      margin: 1rem;
      position: absolute;
      top: 20%;
      right: 50%;

      span {
        color: rgb(238, 70, 199);
      }

      #r-hseparator {
        width: 0;
        max-width: 175px;
        border: solid white 2px;
        animation: r-underline 2000ms both infinite;
      }
    }

    #share {
      font-size: 1.5rem;
      text-align: start;
      margin: 1rem;
      position: absolute;
      left: 40%;

      span {
        color: rgb(0, 106, 255);
      }

      #r-hseparator {
        width: 0;
        max-width: 175px;
        border: solid white 2px;
        animation: r-underline 2000ms 500ms both infinite;
      }
    }
  }
}
