@import "./Color.scss";

#main {
  display: flex;
  background-color: lighten($color: rgb(41, 43, 55), $amount: 5%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  #separator {
    height: 90vh;
    border: solid #3d3f4b 2px;
    margin: auto 15px;
  }

  #menu-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    color: white;

    #menus {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .actions {
        cursor: pointer;
        margin-left: 15px;
        padding: 15px;
        height: 35px;
        width: 35px;
        transition: color 500ms, transform 500ms;

        &:hover {
          transition: color 500ms, transform 500ms;
          transform: scale(1.25);
          color: $main-blue;
        }
      }
    }

    #others {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem;

      #image-profile {
        cursor: pointer;
        border-radius: 25px;
        border: solid black 1px;
        font-size: 2rem;
        padding: 0.5rem;
      }

      #shutdown {
        cursor: pointer;
        height: 30px;
        width: 30px;
        margin: 15px;
        transform: rotate(90deg);
        transition: transform 400ms;

        &:hover {
          transition: transform 400ms;
          transform: rotate(0);
          color: red;
        }
      }
    }
  }

  #convsersations-section {
    min-width: 25%;
    max-width: 25%;
    margin-top: 1rem;
    color: $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .conversation {
      height: 60px;
      width: 100%;
      border: solid 1px white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
      transition: transform 250ms;

      &:hover {
        transform: translateY(-2px);
        border: solid 1px $main-blue;
        box-shadow: 0 2px 7px $main-blue;
        color: $main-blue;
      }
    }
  }
}
