@import "./Color.scss";

#main {
  display: flex;
  background-color: lighten($color: rgb(41, 43, 55), $amount: 5%);
  height: 100vh;
  width: 100vw;
  color: white;
  #separator {
    height: 90vh;
    border: solid #3D3F4B 2px;
    margin: auto 15px;
  }
  #menu-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10%;
    #menus {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      .actions {
        margin-left: 15px;
        padding: 15px;
        height: 35px;
        width: 35px;
        transition: color 500ms, transform 500ms;
        &:hover {
          transition: color 500ms, transform 500ms;
          transform: scale(1.25);
          color: $main-blue;
        }
      }
    }
    #others {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      #image-profile {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: solid black 1px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 25px;
        div {
          display: flex;
          align-self: center;
          justify-self: center;
          margin-bottom: 10px;
        }
      }
      #shutdown {
        height: 30px;
        width: 30px;
        margin: 15px;
        transform: rotate(90deg);
        transition: transform 400ms;
        &:hover {
          transition: transform 400ms;
          transform: rotate(0);
          color: red;
        }
      }
    }
  }
  #convsersations-section {
    width: 25%;
    #headers {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 17px;
      p {
        font-weight: 700;
        font-size: 25px;
        margin: 0;
      }
      #search {
        width: 25px;
        height: 25px;
        margin: 0;
        transition: transform 500ms, color 500ms;
        &:hover {
          color: $main-blue;
          transform: scale(1.1);
          transition: transform 500ms, color 500ms;
        }
      }
    }
    ul {
      list-style: none;
    }
  }
  #messages-section {
    width: 65%;
    padding: 15px;
    #actions {
      display: flex;
      justify-content: space-between;
      #profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #image {
          height: 35px;
          width: 35px;
          border: solid black 1px;
          border-radius: 25px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      #actions-profile {
        display: flex;
        * {
          margin: 0 10px;
          height: 30px;
          width: 30px;
          color: white;
          transition: transform 500ms, color 500ms;
          &:hover {
            color: $main-blue;
            transform: scale(1.1);
            transition: transform 500ms, color 500ms;
          }
        }
      }
    }
    #messages-placeholder {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 60%;
      margin: 100px auto;

      p {
        display: flex;
        font-size: 20px;
        font-weight: 400;
        margin: 15px auto;
      }

      img {
        max-width: 500px;
        aspect-ratio: 1;
      }
    }
  }
}

#confirmation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 40px;
  }
  #buttons {
    display: flex;
    gap: 20px;
    button {
      height: 50px;
      width: 100px;
      border-radius: 10px;
      color: white;
      border: none;
      font-size: 20px;
      font-weight: 600;
    }
    #yes {
      background-color: $main-blue;
      transition: background-color 750ms;
      &:hover {
        background-color: white;
        color: $main-blue;
        border: solid $main-blue 5px;
      }
    }
    #no {
      background-color: red;
      transition: background-color 750ms;
      &:hover {
        background-color: white;
        color: red;
        border: solid red 5px;
      }
    }
  }
}
