@import "./Color.scss";

#menu-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 200px;
  min-width: 200px;
  color: white;

  #menus {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .actions {
      cursor: pointer;
      margin-left: 15px;
      padding: 15px;
      height: 45px;
      width: 45px;
      transition: color 500ms, transform 500ms;

      &:hover {
        transition: color 500ms, transform 500ms;
        transform: scale(1.25);
        color: $main-blue;
      }
    }
  }

  #others {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;

    #picture {
      cursor: pointer;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      border: solid 1px white;
      display: grid;
      place-items: center;
      position: relative;
      background-size: cover;

      svg {
        &:first-of-type {
          font-size: 30px;
        }
      }
    }

    #edit-container {
      display: flex;
      position: relative;

      &:hover {
        #edit {
          color: yellow;
          font-size: 25px;
        }
      }

      #edit {
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 5px;
        font-size: 20px;
        transition: font-size 250ms;
      }
    }

    #shutdown {
      cursor: pointer;
      height: 30px;
      width: 30px;
      margin: 15px;
      transform: rotate(90deg);
      transition: transform 400ms;

      &:hover {
        transition: transform 400ms;
        transform: rotate(0);
        color: red;
      }
    }
  }
}
