@import "./Color.scss";

.message{
    border-radius: 10px 10px 0 10px;
    background-color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left:  10px;
    margin: 10px 0;
}
