@import "./Color.scss";

li{
    border-radius: 10px;
    background-color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left:  10px;
    margin: 10px 0;
}