@import "./Color.scss";

#root-message {
  background-color: rgb(61, 63, 75);
  border-radius: 10px;
  margin-top: 15px;

  #messages-list {
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
      list-style: none;
    }

    ul {
      list-style: none;
      width: 65%;
      display: flex;
      flex-direction: column;
      margin: auto;
      &::-webkit-scrollbar {
        display: none;
        list-style: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      height: 80vh;
      padding: 0;
    }
  }

  #input {
    padding-bottom: 20px;
    width: 100%;

    form {
      display: flex;
      justify-content: center;
      align-items: center;

      #text-input {
        width: 75%;
        height: 30px;
        background-color: transparent;
        border: solid rgb(27, 145, 251) 2px;
        border-radius: 10px;
        margin-right: 10px;
        padding-left: 50px;
        transition: box-shadow 500ms;
        box-shadow: none;
        color: white;

        &:hover {
          transition: box-shadow 500ms;
          color: white;
          box-shadow: 0 0 10px $main-blue;
        }

        &:focus-visible {
          box-shadow: 0 0 10px $main-blue;
          outline: none;
          color: white;
        }
      }
      #send-button {
        height: 30px;
        width: 30px;
        transition: transform 750ms, color 750ms;

        &:hover {
          color: $main-blue;
          transform: scale(1.25);
          transition: transform 750ms, color 750ms;
        }
      }
    }
  }
  .dropdown {
    background-color: grey;
    border-radius: 5px;
  }
  #reply-preview {
    width: 85%;
  }
}
