@import "./Color.scss";

.message-entry-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: fit-content;
  max-width: 75%;
  color: white;
  font-weight: 500;


  .message {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;

    #action-container {
      position: relative;
      width: 100px;
    }

    #content {
      padding-left: 1px;

      .reply-to {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(255, 255, 255, 0.661);
        position: relative;

        svg {
          transform: scaleX(-1);
          position: absolute;
          left: 5px;
          top: 8px;
          font-size: 13px;
        }

        #replied-content {
          font-size: 12px;
          margin: 5px;
          margin-left: 10px;
        }
      }
    }

    .message-container {
      display: flex;
      justify-content: center;
      margin: 0 5px 5px 0;
      flex-direction: column;
      text-align: left;
      padding-right: 10px;
      min-height: 3rem;

      a {
        all: unset;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      p {
        all: unset;
        margin: 3px;

        &:last-of-type {
          margin-bottom: 10px;
        }

        &:first-of-type {
          margin-bottom: 3px;
        }
      }
    }

    div {
      border-radius: 10px 10px 0 10px;
      background-color: $light;
      text-align: left;
      padding-left: 10px;
    }

    .message-dots {
      background-color: transparent;
      width: 25px;
      transition: opacity 750ms;
      position: relative;
      display: flex;
      align-items: center;

      #icon {
        color: white;
      }
    }
  }
}