@import "./Color.scss";
@import "../Styles/Keyframes.scss";

#popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(115, 182, 115);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  gap: 1rem;
  animation: fade-in 500ms;

  svg {
    font-size: 1.5rem;
  }
}
