@import "./Color.scss";

.reply-entry-container {
  position: absolute;
  right: 0;
  bottom: 15px;
  margin: 0 1rem;
  width: 75%;
  font-weight: 500;
  height: 100px;
  user-select: none;

  .origin {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.661);
    background-color: $light;
    border-radius: 10px 10px 0 10px;
    height: 100%;
    position: relative;
    cursor: pointer;

    svg {
      position: absolute;
      left: 5px;
      top: 10px;
      font-size: 30px;
      transform: rotate(180deg) scaleY(-1);
    }

    p {
      margin: 10px;
      height: 25%;
      margin-left: 35px;
    }

    input {
      border-radius: 10px 10px 0 10px;
      height: 50px;
      border-radius: 10px 10px 0 10px;
      background-color: rgb(20, 147, 251);
      padding-left: 15px;
      width: 97%;
      height: 60%;
      border: none;
      font-weight: 500;

      &:focus {
        outline: none;
        color: white;
      }
    }
  }
}
