@import "../styles/Color.scss";

#signup {
  display: flex;
  .from-signup {
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    // margin: auto;
    color: white;
    font-size: 25px;
    label {
      display: flex;
      align-self: left;
    }
    input {
      width: 50%;
      height: 30px;
      border-radius: 7px;
      border: solid black 1px;
      margin: 10px auto;
    }

    button {
      width: 100px;
      height: 35px;
    }
  }

  #splashes {
    flex-grow: 1;
    display: flex;
    background: url("../assets/splash1.svg") bottom left,
      url("../assets/splash2.svg") top right;
    background-repeat: no-repeat;
    background-size: 50%;
    
    #welcome {
      margin: 15% 5%;
      font-size: 30px;
      font-weight: 500;
    }
    #info {
        align-self: center;
        position: absolute;
        margin-left: 40%;
        margin-top: 25%;
        font-size: 30px;
        font-weight: 500;
    }
  }

  .error {
    color: red;
    font-weight: 800;
  }
}
